A {
  TEXT-DECORATION: none
} 
A:hover {
  COLOR: #002020;
  TEXT-DECORATION: none
}
.header {
  BORDER-RIGHT: #0066cc 1px solid; BORDER-TOP: #0066cc 1px solid; BORDER-LEFT: #0066cc 1px solid; BORDER-BOTTOM: #0066cc 1px solid;
  FONT-WEIGHT: bold; FONT-SIZE: 12pt; COLOR: #000000; FONT-FAMILY: Tahoma, Arial, Helvetica
; background-color: C7AF97
; text-align: center
}
.poles1 {
  BORDER-RIGHT: #0066cc 1px solid; BORDER-TOP: #0066cc 1px solid; BORDER-LEFT: #0066cc 1px solid; BORDER-BOTTOM: #0066cc 1px solid; FONT-FAMILY: Arial, Helvetica, Tahoma
; background-color: EFEFE0;
; background-position: center center; vertical-align: middle
; FONT-SIZE: 10pt; FONT-STYLE: normal;
}
.header {
  BORDER-RIGHT: #0066cc 1px solid; BORDER-TOP: #0066cc 1px solid; BORDER-LEFT: #0066cc 1px solid; BORDER-BOTTOM: #0066cc 1px solid; FONT-FAMILY: Tahoma, Helvetica, Arial
; background-color: FFE0E0;
; background-position: center center; vertical-align: middle
; FONT-SIZE: 9pt; FONT-STYLE: normal;
}
.inside {
  FONT-FAMILY: Arial, Helvetica, Tahoma
; background-color: EFEFE0;
; background-position: center center; vertical-align: middle
; FONT-SIZE: 10pt; FONT-STYLE: normal;
}
.mymenu {
  BORDER-RIGHT: #F8FFF8 1px solid; BORDER-TOP: #F8FFF8 1px solid; BORDER-LEFT: #F8FFF8 1px solid; BORDER-BOTTOM: #F8FFF8 1px solid;
  FONT-FAMILY: Arial, Helvetica, Tahoma
; font-size: -1
; background-color: F8FFF8;
; background-position: center center; vertical-align: middle
; FONT-SIZE: 10pt; FONT-STYLE: normal;
  text-align: center 
}
.border {
  BORDER-RIGHT: #0066cc 1px solid; BORDER-TOP: #0066cc 1px solid; BORDER-LEFT: #0066cc 1px solid; BORDER-BOTTOM: #0066cc 1px solid
}
.polemup {
  BORDER-TOP: #000000 1px solid; FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: #ffffff; BORDER-BOTTOM: #000000 1px solid; FONT-FAMILY: Tahoma,Verdana, Arial,Helvetica; TEXT-DECORATION: none
}
.line {
  BORDER-LEFT: black 1px outset
}
H5 {
  FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #3399ff; FONT-FAMILY: Verdana, Arial, Helvetica
}
.Heading5 {
  FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #3399ff; FONT-FAMILY: Verdana, Arial, Helvetica
}
